/*
  Additional design token settings can be found here: https://designsystem.digital.gov/documentation/settings/.
*/
@use 'uswds-core' with (
  $theme-show-notifications: false,
  $theme-font-path: '~uswds/dist/fonts',
  $theme-image-path: '~uswds/dist/img',
  $theme-grid-container-max-width: 'full',
  $theme-focus-color: 'mint-90',
  $theme-focus-width: 0,
  $theme-font-type-sans: 'public-sans'
);
