@forward 'providers/uswds/uswds.scss';

// Colors
$color-primary: #031626;
$color-primary-gray: #f3f5f7;
$color-secondary: #d83933;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #dfe1e2;
$color-blue: #005ea2;
$color-green: #00bb9d;
$color-green-light: #69f9c3;

// Font
$font-family: 'Public Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  background-color: $color-primary-gray;
  height: 100%;
  font-size: 1rem;

  .usa-overlay {
    z-index: 99;
  }

  h1 {
    color: $color-green-light;
  }

  a {
    color: $color-blue;
  }
  a:visited {
    color: $color-primary;
  }

  .usa-header {
    background-color: $color-primary;
  }

  .usa-menu-btn,
  .usa-menu-btn:hover {
    background-color: $color-primary;
    height: 2.95rem;
  }

  .usa-section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    h1 {
      color: $color-black;
      margin-top: 2rem;
      font-size: 2rem;
    }
  }

  header#headerSection {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  #mainSection {
    width: 100%;
    .signin {
      background-image: url('/img/hero.jpg');
      background-size: cover;
      height: 100vh;
      min-width: 100%;
      h1 {
        color: $color-green-light;
      }
      .usa-form {
        max-width: 500px !important;
      }
      .usa-label {
        color: $color-green-light;
      }
    }

    h1 {
      font-family: $font-family;
    }

    h2 {
      font-family: $font-family;
      font-size: 24px;
      font-weight: 400;
      line-height: 1.2;
    }
    p {
      font-family: $font-family;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.2;
      color: #71767a;
    }

    #faqs {
      p {
        font-family: $font-family;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
      }
    }
    .grid-container {
      .grid-col-2 {
        flex: 1;
      }
    }

    .usa__logo-mark {
      height: 40px;
      background: #381f59;
      border-radius: 20px;
    }
  }

  /* Custom styles */
  #investigations.prompt {
    position: fixed;
    width: 100%;
    bottom: 2rem;
  }

  .button-container {
    margin-bottom: 1rem;
    .helper-button {
      margin: 1rem;
      padding: 24px 12px;
      background-color: $color-primary;
      color: $color-white;
      border: 2px solid $color-primary;
      cursor: pointer;
      border-radius: 10px;
      width: 350px;
      text-align: left;
      font-size: 14px;
      &:hover {
        background-color: $color-white;
        color: $color-primary;
        border: 2px solid $color-primary;
      }
    }
    p.helper-text {
      font-size: 13px !important;
      margin: 0;
      text-align: left;
      margin-left: 2rem;
    }
  }
  .m-b-1 {
    margin-bottom: 1rem;
  }
  .m-b-2 {
    margin-bottom: 2rem;
  }
  .m-b-3 {
    margin-bottom: 3rem;
  }
  .sb-avatar.sb-avatar--src {
    cursor: pointer;
    position: absolute;
    top: -4px;
    left: 1%;
  }

  .min-w {
    min-width: 80px;
  }

  .searching {
    max-width: 51px;
    max-height: 128px;
  }

  .search-area {
    max-width: 80rem;
    display: flex;
    align-items: center;

    .search-area-input {
      flex: 1;
      padding: 1rem;
      margin: 1rem 0;
      box-sizing: border-box;
      border: 2px solid #71767a;
      border-radius: 8px;
      resize: none;
      overflow: hidden;
    }
    button.search-input {
      min-height: 3rem;
      padding: 12px 20px;
      position: relative;
      right: 16px;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;

      &:disabled {
        color: $color-black;
        background-color: $color-green-light;
        border-color: $color-green-light;
      }

      > .searching {
        height: 18px;
      }

      /* Disabled state only for when searching */
      &.disabled {
        color: $color-white;
        background-color: #adadad;
        border-color: #adadad;
      }
    }
    textarea.search-area-input:disabled {
      color: #71767a;
      background-color: $color-white;
    }
    .search-button {
      height: 40px; /* Set your desired height for the button */
      margin-left: 8px; /* Adjust the spacing between input and button */
      padding: 0 16px;
      box-sizing: border-box;
      border: 1px solid #007bff;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      outline: none;
    }
  }

  .text-area-label {
    display: none;
  }
  .text-container {
    width: 89%;
    margin-right: 0;
    label {
      display: none;
    }
    .usa-textarea {
      height: 3rem;
      border-right: none !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    .usa-textarea,
    .usa-range,
    .usa-input-group,
    .usa-combo-box__input,
    .usa-select,
    .usa-input {
      max-width: 100%;
    }
  }

  .dropdown {
    position: absolute;
    top: 110%;
    left: 0;
    display: block;
    width: 200px;

    /* Bottom-border on the span */
    ul.usa-nav__submenu li.usa-nav__submenu-item a.usa-nav__link:hover {
      text-decoration: none;
      span {
        border-bottom: 2px solid $color-green-light;
      }
    }

    .usa-nav__submenu {
      background: #381f59;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    ul#extended-nav-section-two li.usa-nav__submenu-item a.usa-nav__link {
      padding: 1rem;
      padding-left: 1.5rem;
    }
  }

  .usa-button {
    color: $color-black;
    background-color: $color-green-light;
    border: 2px solid $color-green-light;
  }

  .usa-button:hover {
    color: $color-black;
    background-color: $color-green-light;
    border: 2px solid $color-green-light;
    text-decoration: underline;
  }

  .usa-button--outline {
    background-color: $color-white;
    box-shadow: unset;
    color: $color-black;
    border: 2px solid $color-primary;
  }

  .usa-button--outline:hover {
    color: $color-blue;
    background-color: $color-white;
    box-shadow: unset;
    border: 2px solid $color-blue;
  }

  .usa-button.usa-button--unstyled {
    background-color: transparent;
    border: none;
    color: $color-black;
  }

  .usa-icon--size-3 {
    height: 1.25rem;
    width: 1.25rem;
  }

  .usa-input {
    max-width: unset;
  }

  .usa-input:focus {
    border-color: $color-primary;
  }

  .usa-textarea:focus {
    border-color: $color-primary;
  }

  .usa-list li {
    max-width: unset;
  }

  .loading-text {
    color: #005ea2;
  }

  .searching {
    height: 51px;
    width: 128px;

    &.history {
      max-width: none;
      max-height: none;
      width: 100%;
      height: 79px;
      margin: 0 auto;
    }
  }

  .chat-content {
    background-color: transparent;
    overflow-y: auto;
    flex-direction: column-reverse;
    display: flex;
  }

  .chat-content-question {
    background-color: $color-white;
    border: 1px solid $color-gray;
    color: $color-black;
    border-radius: 4px;
    padding: 20px;
    line-height: 1.75rem;
    white-space: pre-wrap;
  }

  .chat-content-answer {
    background-color: $color-white;
    border: 1px solid $color-gray;
    color: $color-black;
    border-radius: 4px;
    padding: 20px;
    line-height: 1.75rem;
    white-space: pre-wrap;
  }

  .chat-question-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid $color-primary;
    background-color: $color-white;
    font-weight: 700;
    > span {
      position: relative;
      top: 3px;
      left: 11px;
    }
  }

  .datasets {
    p {
      margin-top: 0.813rem; /* 13px */
    }
  }
  .usa-checkbox {
    background-color: transparent;
  }
  .flex-direction-column {
    flex-direction: column;
  }
  .align-items-center {
    align-items: center;
  }
  .hr-suggest {
    width: 60%;
    margin: 3rem 0;
  }
}

.chat-content-suggestion {
  padding-top: 10px;
  font-weight: 600;
}

.dataset-select {
  display: flex;
  position: relative;
  top: 75px;
  justify-content: center;

  label {
    font-size: 1rem;
    padding: 1rem;

    input[type='checkbox'] {
      margin: 0 0.5rem;
      line-height: normal;
      width: 20px;
      height: 20px;
    }
  }
}

.usa-checkbox__input:checked + [class*='__label']::before {
  background-color: #381f59;
  box-shadow: 0 0 0 2px #381f59;
}

.usa-checkbox__input:checked + [class*='__label']::before,
.usa-checkbox__input:checked:disabled + [class*='__label']::before,
.usa-checkbox__input:checked[aria-disabled='true']
  + [class*='__label']::before {
  background-image: url(/img/usa-icons/correct8.eac85396.svg),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

table.data-table {
  font-family: $font-family;
}

table.data-table thead th {
  background-color: $color-primary;
  color: $color-green-light;
}

table.data-table tbody tr {
  background-color: $color-white;
  color: $color-black;
}

table.data-table tbody td {
  padding: 8px 16px;
}

table.data-table tbody tr:hover {
  background-color: $color-primary-gray;
}

.sidebar {
  width: 60px;
  height: 100%;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background-color: $color-primary;
  transition: left 0.3s ease;
  z-index: 10001;

  .sidebar-text {
    position: relative;
    left: 10px;
    bottom: 10px;
    font-size: 14px;
  }

  .sidebar-text:hover {
    text-decoration: underline;
  }

  .sidebar-profile {
    position: fixed;
    left: 15px;
    bottom: 20px;
  }

  .sidebar-profile-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid $color-white;
    background-color: $color-primary;
    font-weight: 700;
  }

  .sidebar-profile-initials {
    color: $color-white;
    position: relative;
    top: 3px;
    left: 7px;
  }

  .sidebar-profile-name {
    width: 200px;
    position: relative;
    top: 3px;
    left: 35px;
    font-size: 14px;
    font-weight: 400;
  }

  .sidebar-btn-group {
    padding: 12px 0;
  }

  button {
    margin: 8px 16px 8px 16px;
  }
}

.sidebar.open {
  left: 0;
  width: 250px;
}

.filters {
  width: 60px;
  height: 100%;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  background-color: $color-white;
  transition: left 0.3s ease;
  z-index: 10001;
  padding: 8px 12px;

  .filters-text {
    color: $color-black;
    position: relative;
    left: 10px;
    bottom: 10px;
    font-size: 14px;
  }

  .filters-text:hover {
    text-decoration: underline;
  }

  #filters-btn {
    position: relative;
    left: 15px;
  }

  button {
    margin: 8px 16px 8px 16px;
  }
}

.filters.open {
  left: 0;
  width: 250px;
}

@media (min-width: 80em) {
  .usa-header {
    .usa-logo {
      margin-top: 1rem;
    }
    .usa-logo a,
    .usa-nav__primary > .usa-nav__primary-item > a,
    .usa-nav__primary > .usa-nav__primary-item > a:hover {
      color: $color-green-light;
    }

    .usa-header__logo-img {
      height: 60px;
    }
  }

  #headerSection.usa-header--basic .usa-nav__link:hover::after,
  #headerSection.usa-header--basic
    .usa-nav__primary-item
    > .usa-current::after {
    background-color: $color-green-light;
  }

  #headerSection.usa-header--basic .dropdown .usa-nav__link:hover::after,
  #headerSection.usa-header--basic
    .usa-nav__primary-item
    .dropdown
    .usa-current::after {
    background-color: transparent !important;
  }

  #headerSection.usa-header--basic .usa-navbar {
    width: 15%;
  }

  #headerSection.usa-header + .usa-section,
  #headerSection.usa-header + main {
    border-top: unset;
  }
}

@media (min-width: 64em) {
  .usa-header {
    .usa-logo {
      margin-top: 1rem;
    }
    .usa-logo a,
    .usa-nav__primary > .usa-nav__primary-item > a,
    .usa-nav__primary > .usa-nav__primary-item > a:hover {
      color: $color-green-light;
    }

    .usa-header__logo-img {
      height: 60px;
    }

    .usa-header__logo-img {
      height: 60px;
    }
  }
}

/* Mobile */
@media (max-width: 63.9375em) {
  .usa-header {
    .usa-header__logo-img {
      height: 30px;
    }
  }
  main#mainSection {
    margin-top: 46px;
  }
  .usa-nav__primary a:not(.usa-button):not(.usa-current) {
    color: $color-primary;
  }

  body .sb-avatar.sb-avatar--src {
    position: absolute;
    top: 204px;
    left: 11%;
  }
  body .dropdown {
    position: absolute;
    top: 250px;
    left: 20px;
    display: block;
    width: 200px;

    .usa-nav__submenu {
      background: transparent;
      li.usa-nav__submenu-item {
        border-top: 1px solid $color-gray;
        border-bottom: 1px solid $color-gray;
      }
      li.usa-nav__submenu-item:nth-child(2) {
        border-top: none;
        border-bottom: 1px solid $color-gray;
      }

      .usa-nav__primary a:not(.usa-button):not(.usa-current) {
        color: $color-primary;
      }
      .usa-nav__primary .usa-current {
        font-weight: bold;
      }
    }
  }

  .usa-nav__primary .usa-current {
    position: relative;
    color: $color-primary;
    font-weight: 700;
  }

  .usa-nav__primary .usa-current {
    position: relative;
    color: $color-primary;
    font-weight: 700;
  }
  .usa-header + .usa-section,
  .usa-header + main {
    border-top: unset;
  }
}
