$color-primary: #381f59;
$color-secondary: #d83933;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #dfe1e2;
$color-blue: #005ea2;
$color-green: #00bb9d;
$color-green-light: #00cfc8;

body {
  overflow: hidden !important;
}
h1 {
  color: $color-green-light;
}

a {
  color: $color-blue;
}
a:visited {
  color: $color-primary;
}

.usa-header {
  background-color: $color-primary;
}

.usa-menu-btn,
.usa-menu-btn:hover {
  background-color: $color-primary;
}

.usa-section {
  padding-top: 0 !important;

  h1 {
    color: $color-primary;
    margin-top: 2rem;
  }
}

#mainSection {
  min-height: 800px;
  .signin {
    background-image: url('/img/hero.jpg');
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    h1 {
      color: $color-green;
    }
    .usa-label {
      color: $color-green-light;
    }
  }
  .grid-container {
    max-width: 80rem;

    &.signin {
      background-image: url('/img/hero.jpg');
      background-size: cover;
      height: 100vh;
      min-width: 100%;
      h1 {
        color: $color-green;
      }
    }
  }
}

.usa-nav-container {
  max-width: unset;
}

.usa-button {
  color: $color-green-light;
  background-color: $color-primary;
  border: 2px solid $color-green-light;
}

.usa-button:hover {
  color: rgba(0, 207, 200, 0.8);
  background-color: $color-primary;
  border: 2px solid $color-green-light;
}

.usa-button--outline {
  background-color: $color-white;
  box-shadow: unset;
  color: $color-black;
  border: 2px solid $color-blue;
}

.usa-button--outline:hover {
  color: $color-blue;
  background-color: $color-white;
  box-shadow: unset;
  border: 2px solid $color-blue;
}

.usa-input {
  max-width: unset;
}

.usa-input:focus {
  border-color: $color-primary;
}

.loading-text {
  color: #005ea2;
}

.chat-content {
  background-color: transparent;
  height: 85vh;
  overflow-y: auto;
  padding-bottom: 3rem;
}

.chat-content-question {
  background-color: $color-white;
  border: 1px solid $color-blue;
  color: $color-black;
  border-radius: 4px;
  padding: 35px 20px;
  margin: 10px 60px 10px 10px;
}

.chat-content-answer {
  background-color: $color-green;
  border: 1px solid $color-black;
  color: $color-black;
  border-radius: 4px;
  padding: 35px 20px;
  margin: 10px 10px 10px 60px;
}

.chat-content-suggestion {
  padding-top: 10px;
  font-weight: 600;
}

.search-area {
  background: $color-white;
  position: absolute;
  width: 100%;
  max-width: 80rem;
  padding: 15px 20px 20px 0;
}

.search-area-home {
  top: 250px;
}

.search-area-investigation {
  bottom: 20px;
}

table.data-table thead th {
  background-color: $color-primary;
  color: $color-green-light;
}

table.data-table tbody tr {
  background-color: $color-white;
  color: $color-black;
}

table.data-table tbody td {
  padding: 8px 16px;
}

table.data-table tbody tr:hover {
  background-color: $color-green;
}

@media (min-width: 80em) {
  .usa-logo a,
  .usa-nav__primary > .usa-nav__primary-item > a,
  .usa-nav__primary > .usa-nav__primary-item > a:hover {
    color: $color-green-light;
  }
  .usa-header--basic .usa-nav__link:hover::after,
  .usa-header--basic .usa-nav__primary-item > .usa-current::after {
    background-color: $color-green-light;
  }
  .usa-logo {
    margin-top: 1rem;
  }

  .usa-header--basic .usa-navbar {
    width: 15%;
  }

  .usa-header + .usa-section,
  .usa-header + main {
    border-top: unset;
  }
}

@media (max-width: 80em) {
  .usa-header__logo-img {
    height: 40px;
  }

  .usa-header + .usa-section,
  .usa-header + main {
    border-top: unset;
  }
}
